<div id="project">
<div class="body">

<div class="date"><p>{{day}}</p></div>

<div id="main">
  <div id="shield">
  <span *ngFor="let x of number" class="numberClock" [ngStyle]="{'transform': 'rotate('+ x * 30 +'deg)'}">
    <b [ngStyle]="{'transform': 'rotate(-'+ x * 30 +'deg)'}">{{x}}</b>
  </span>

    <div class="center hand hour" [ngStyle]="{'transform': 'rotate(' + hourHand + 'deg)'}"></div>
    <div class="center hand minutes"  [ngStyle]="{'transform': 'rotate(' + minutesHand + 'deg)'}"></div>
    <div class="center hand seconds" [ngStyle]="{'transform': 'rotate(' + secondsHand + 'deg)'}"></div>
    <div id="center"></div>
  </div>
</div>
<div class="date">
  <div>

    <p>{{hour}} : {{minute}} : {{second}}</p>
  </div>
</div>
</div>
<div class="body">
<app-stop-watch></app-stop-watch>
</div>
</div>
